body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0 url('svgs/background.svg');
}

#container {
  width: 80%;
  background: #fff;
  margin: 0 auto;
 
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}


a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  transition: color ease-in-out;
  transition-duration: 1.5s;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul {
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}


.svg--nav {
  transform-origin: 0 26px;
  transform: scale(.6);
  transition: fill ease-in-out, transform ease-in-out;
  transition-duration: 1s;
}

.svg--nav .st0{
  fill: currentColor;
}

li:hover a,
li:hover .svg--nav{
  color: #BA8058;
  fill: #BA8058;
  transform: scale(1)
}

.container__logo {
  margin: 0 auto;
  width: 140px;
}

.container__logo h1 {
  color: #BA8058;
}

.container__logo .st1 {
  fill-opacity: 0;
}

.container__logo svg {
  transition: transform 0.8s;
  transform-origin: 50% 50%; 
}

.container__logo:hover svg {
  transform: rotate(360deg);
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

.container__corgi {
  width: 15%;
  display: inline-block;
  /* margin: 0 1em; */
}

#corgi .body {
  fill: currentColor;
}

.corgi__sable {
  color: #BA8058;
}

.corgi__fawn {
  color: #EAAA7F;
}

.corgi__red {
  color: #834B29;
}

.corgi__stone {
  color: #52595E;
}

.container__corgi {
  display: inline-block;
}

.container__corgi svg {
  display: block;
  width: 100%;
  height: 80px;
}

.container__corgi p {
  /* padding-left: 30px; */
  margin-top: 0;
  color: #DA8058;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

@media (min-width: 426px) {
  header nav ul {
    padding: 40px;
  }

  .container__logo h1 {
    display: none;
  }

  .container__logo .st1 {
    fill-opacity: 1;
  }

  .container__corgi svg {
  
    height: 100%;
  }

  .container__corgi p {
    padding-left: 50px;
    margin-top: 0;
    color: #DA8058;
  }
}